/* Your CSS styles here! */
section {
	overflow-x: hidden;
}

* {
	padding: 0;
	margin: 0;
}

.header__img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.block-container {	
	max-width: 100vw;
	padding: 0;
}

div[data-testid="stVerticalBlock"] {
	padding: 0;
	gap: 0;
}

.color-yellow {
	color: #FFD43B;	
}

header[data-testid="stHeader"] {
	 display: none; 
}

div[data-testid="collapsedControl"], section[data-testid="stSidebar"] {
	display: none;
}

div[data-testid="stImage"] {
	margin: 0;
	padding: 2rem 0 0 3rem; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	margin-left: 5rem;
	margin-top: 2rem;
	text-align: center;
	font-weight: bold;
}

.text {
	padding: 0 5rem;
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 300;
	text-align: center;
}

#register-btn {
	background-color: #FFD43B;
	font-size: 1.5rem;
	color: white;
}

#register-btn:hover {
	background-color: white;
	color: #FFD43B;
	border: 1px solid #FFD43B;
}

.footer {
	margin-top: 4rem;
	opacity: 0.6;
	transition: all	0.3s ease-in-out;
}

.footer:hover {
	opacity: 1;
}

.footer p {
	font-weight: 600;
	font-size: 0.8rem;
}

.font-weight-bold {
	font-weight: bold;
}

.font-size-large {
	font-size: 1.5rem;
}

.image-container {
  text-align: center;
}

.image-container img {
	opacity: 0.5;
	filter: grayscale(100%);
	transition: all 0.3s ease-in-out;
	width: 200px;
}

.image-container img:hover {
  opacity: 1;
	filter: grayscale(0%);

}

.text-start {
	text-align: start;
}

@media only screen and (max-width: 600px) {
	div[data-testid="stImage"] {
		padding: 2rem 2rem 0 2rem;
	}

	.text {
		padding: 0 2rem;
		font-size: 1.2rem;
		line-height: 2rem;
		font-weight: 300;
	}

	.image-container img {
		width: 100px;
		margin-bottom: 1rem;
	}
	
}
